In [7]:
import pandas as pd
import numpy as np

data = pd.read_csv("covid_19_data.csv", parse_dates=['ObservationDate', 'Last Update'])
info = pd.read_csv("COVID19_open_line_list.csv", usecols=[3,4,5,7,8])
data.head()

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,2020-01-22,Anhui,Mainland China,2020-01-22 17:00:00,1.0,0.0,0.0
1,2,2020-01-22,Beijing,Mainland China,2020-01-22 17:00:00,14.0,0.0,0.0
2,3,2020-01-22,Chongqing,Mainland China,2020-01-22 17:00:00,6.0,0.0,0.0
3,4,2020-01-22,Fujian,Mainland China,2020-01-22 17:00:00,1.0,0.0,0.0
4,5,2020-01-22,Gansu,Mainland China,2020-01-22 17:00:00,0.0,0.0,0.0

In [8]:
info.head()

                         city province country   latitude   longitude
0     Chaohu City, Hefei City    Anhui   China  31.646960  117.716600
1  Baohe District, Hefei City    Anhui   China  31.778630  117.331900
2  High-Tech Zone, Hefei City    Anhui   China  31.828313  117.224844
3  High-Tech Zone, Hefei City    Anhui   China  31.828313  117.224844
4  Feidong County, Hefei City    Anhui   China  32.001230  117.568100

In [14]:
info[info['country'] == "India"]

                             city province country  latitude  longitude
2933                          NaN   Kerala   India  10.45666   76.40405
4799                          NaN   Kerala   India  10.45666   76.40405
5251  Kanjangad District Hospital   Kerala   India  12.30000   75.09000

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 116805 entries, 0 to 116804
Data columns (total 8 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   SNo              116805 non-null  int64
 1   ObservationDate  116805 non-null  datetime64[ns]
 2   Province/State   81452 non-null   object
 3   Country/Region   116805 non-null  object
 4   Last Update      116805 non-null  datetime64[ns]
 5   Confirmed        116805 non-null  float64
 6   Deaths           116805 non-null  float64
 7   Recovered        116805 non-null  float64
dtypes: datetime64[ns](2), float64(3), int64(1), object(2)
memory usage: 7.1+ MB

In [4]:
info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14126 entries, 0 to 14125
Data columns (total 45 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        13173 non-null  float64
 1   age                       1349 non-null   object
 2   sex                       1264 non-null   object
 3   city                      10194 non-null  object
 4   province                  12906 non-null  object
 5   country                   13148 non-null  object
 6   wuhan(0)_not_wuhan(1)     13170 non-null  float64
 7   latitude                  13147 non-null  float64
 8   longitude                 13147 non-null  float64
 9   geo_resolution            13147 non-null  object
 10  date_onset_symptoms       746 non-null    object
 11  date_admission_hospital   730 non-null    object
 12  date_confirmation         13089 non-null  object
 13  symptoms                  493 non-null    object
 14  lives_in_Wuhan            565 non-null    object
 15  travel_history_dates      503 non-null    object
 16  travel_history_location   758 non-null    object
 17  reported_market_exposure  35 non-null     object
 18  additional_information    2412 non-null   object
 19  chronic_disease_binary    18 non-null     float64
 20  chronic_disease           13 non-null     object
 21  source                    12950 non-null  object
 22  sequence_available        1 non-null      object
 23  outcome                   184 non-null    object
 24  date_death_or_discharge   93 non-null     object
 25  notes_for_discussion      187 non-null    object
 26  location                  1024 non-null   object
 27  admin3                    1159 non-null   object
 28  admin2                    9068 non-null   object
 29  admin1                    12877 non-null  object
 30  country_new               13079 non-null  object
 31  admin_id                  13103 non-null  object
 32  data_moderator_initials   17 non-null     object
 33  Unnamed: 33               0 non-null      float64
 34  Unnamed: 34               0 non-null      float64
 35  Unnamed: 35               0 non-null      float64
 36  Unnamed: 36               0 non-null      float64
 37  Unnamed: 37               0 non-null      float64
 38  Unnamed: 38               0 non-null      float64
 39  Unnamed: 39               0 non-null      float64
 40  Unnamed: 40               0 non-null      float64
 41  Unnamed: 41               0 non-null      float64
 42  Unnamed: 42               0 non-null      float64
 43  Unnamed: 43               0 non-null      float64
 44  Unnamed: 44               0 non-null      float64
dtypes: float64(17), object(28)
memory usage: 4.8+ MB